[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

requests = "*"
pylint = "*"
tensorflow = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
pandas = "*"
sklearn = "*"
"beautifulsoup4" = "*"
wikipedia = "*"
toolz = "*"
pyfunctional = "*"


[dev-packages]
